<header>
    <nav>
        <a href="/">Mybray</a>
        <ul>
            <li><a href="/author">Authors</a></li>
            <li><a href="/author/new">ADD Authors</a></li>

        </ul>
    </nav>
</header>